body {
    background: linear-gradient(
            to bottom,
            rgba(255,232,157,1),
            rgba(255,235,166,1),
            rgba(255,255,255,1));
    width: 99vw;
}

::-webkit-scrollbar {
    width: 0;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13vh;
}

.main__title {
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-align: center;
    font-family: monospace;
    font-size: 3.5vw;
    letter-spacing: 5px;
}

.main__card {
    width: 80vw;
    align-self: center;
    background-color: #fff8e3;
    margin: 2vh;
    border-radius: 1vh;
    box-shadow: 5px 5px 3px black;
    padding: 1vw;
}

.main__card_link {
    text-decoration: none;
    font-size: 2.5vw;
    font-family: monospace;
    color: #493a05;
}

.main__card_link:hover {
    color: #ad8712;
}

.main__card_description {
    font-family: monospace;
    font-size: 2vh;
}

.d h1:before {
    content: "";
    position: absolute;
    margin-top: 2vw;
    left: 0;
    right: 0;
    height: 6px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    z-index: -1;
}

.d span {
    background: 	#ffe89d;
    padding: 0 20px;
}
