.footer {
    margin-top: 15vh;
    width: 100%;
}

.footer_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__line {
    width: 20%;
    color: black;
    border-width: 1px;
    border-style: solid;
}

.footer_social_media_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_logo_pic {
    width: 50px;
    margin: 1vh;
}

.footer__text {
    font-size: 25px;
    font-family: sans-serif;
}

.footer__time {
    font-family: monospace;
    font-size: 1.5vw;
}